.simple-editor-wrapper {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

.tiptap.ProseMirror {
  font-family: inherit;
}

.simple-editor-wrapper {
  width: 100%;
  overflow: hidden;
  color: var(--tt-theme-text);
}

.simple-editor-search-and-replace {
  position: absolute;
  top: calc(var(--tt-toolbar-height) + 0.5rem);
  right: 0.5rem;
  z-index: 51;
  max-height: min(32rem, calc(100dvh - var(--tt-toolbar-height) - 1rem));
}

.simple-editor-content {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.simple-editor-content .tiptap.ProseMirror {
  flex: 1;
  min-height: inherit;
  padding: 1rem 1rem 8rem;
}

@media screen and (max-width: 480px) {
  .simple-editor-search-and-replace {
    top: 0.5rem;
    left: 0.5rem;
    width: auto;
    max-height: calc(100dvh - 1rem);
  }

  .simple-editor-content .tiptap.ProseMirror {
    padding: 1rem 1rem 8rem;
  }
}
